@import url(/src/styles/style.css);


.container{
    margin-top:2rem;
    margin-bottom: 2rem;
    gap: 1.8rem;
}

.container h1, h2,
 p, h3, h4{
    color: var(--second-color);
}

.icone-voltar img {
    position: absolute;
    top: 15px;
    right: 15px; /* ou left: 15px se quiser no outro lado */
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.icone-voltar:hover {
    transform: scale(1.2);
    opacity: 0.8;
}
.chapeudourado{
    width: 120px;
    animation: flutuar 3s ease-in-out infinite;
}

.date {
    padding: 15px 15px;
    border: solid 2px var(--second-color);   
}

#botao-musica {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #889bf1;
  color: white;
  border: solid 1px white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  z-index: 50;
}

#botao-musica:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(251, 251, 252, 0.7);
}

#botao-musica img {
  width: 20px;
  height: 20px;
}




/* === Tablet (largura mínima 768px) === */
@media (min-width: 768px) {
  .container {
    max-width: 500px; /* aumenta a largura do container */
    padding: 30px;
  }

  .chapeudourado {
    width: 180px; /* chapéu maior */
    margin-bottom: 20px;
  }

  .name h1 {
    font-size: 2.2rem;
  }

  .name h2 {
    font-size: 1.5rem;
  }

  .text-convite p {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }

  .date h2,
  .local h2 {
    font-size: 1.5rem;
  }

  .date h4 {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }

  .molduraleftsuper,
  .moldurarightinfer {
    width: 100px;
  }

  #botao-musica {
    width: 55px;
    height: 55px;
  }

  #botao-musica img {
    width: 30px;
    height: 30px;
  }
}

/* === Desktop / PC (largura mínima 1024px) === */
@media (min-width: 1024px) {
  .container {
    max-width: 600px; /* container maior */
    padding: 25px;
    flex-direction: column;
    justify-content: center;
  }

  .chapeudourado {
    width: 200px;
    margin-bottom: 25px;
  }

  .name h1 {
    font-size: 2.5rem;
  }

  .name h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .text-convite p {
    font-size: 1.6rem;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
  }

  .date h2,
  .local h2 {
    font-size: 1.6rem;
    
  }

  .date h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  .molduraleftsuper,
  .moldurarightinfer {
    width: 120px;
  }

  #botao-musica {
    width: 60px;
    height: 60px;
  }

  #botao-musica img {
    width: 35px;
    height: 35px;
  }
}
